<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.llf.mybitmapapp" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CaptureBitmapActivity"
            android:label="@string/title_activity_default_camera"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditBitmapActivity"
            android:label="@string/title_activity_edit_bitmap"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CustomCameraActivity"
            android:label="@string/title_activity_main2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PictureProgressActivity"
            android:label="@string/title_activity_picture_progress"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
